# Core App & AI
streamlit
langchain
langchain-chroma
langchain-google-genai
python-dotenv

# Data Handling
chromadb
unstructured
pypdf

# SQLite Fix (Fallback)
pysqlite3-binary

# Version lock to fix deployment errors
protobuf==3.20.3